.titlestyle{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(241, 55, 8);
    font-family: auto;
    font-weight: bold;
}
.inputsapce{
    line-height: 26px;
    margin-bottom: 13px;
}